@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}
.full-screen {
    background: url('/media/home-gym-photo.webp') no-repeat center center fixed;
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	
	z-index: -1;
}

.hero-image {
        background: url('/media/home-gym-photo.webp') no-repeat center center fixed;
        background-size: cover;
        height: 100% !important;
}
/*
.full-screen {
    background: url('/media/home-gym-photo.webp') no-repeat center center fixed;
    background-size: cover;
}*/

.front-page-img-1, img {
    height: 100% !important;
    width: 100% !important;
}

.screen-height {
    height: 100vh !important;
}

/* Color background  section for the site */
.base-color {
    background-color: #0d2134 !important;
}

#main-nav {
    background-color: #0d2134 !important;
    z-index: 0;
}

.box-background {
    background-color: #0d2134 !important;
}

/* Logo section */

.logo {
    font-size: 60px;
    color: #ffa500;
    font-family: 'Bungee Outline', cursive;
}

.text-color {
    color: white !important;
}

/* Navbar section */
.navbar-unhide-fix {
    margin-top: 140px;
}

.narbar-light .navbar-nav .nav-link {
    color: white !important;
}
/*
.photo-size{
    height: 500px;
}*/

/* CI code from boutique ado */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -2;
}

/*-- home page edit --*/

.margin-pt-block {
    margin-top: 150px !important;
}

/*-- Club main page --*/

.border-orange {
    border-color: orange !important;
}

.btn-outline-orange {
    color: #fff;
    background-color: #0d2134;
    border-color: orange;
}

.club-cards {
    height: 100vh;
}

/*-- Club detail page --*/

.text-orange {
    color: orange;
    font-size: 30px;
}

.opening-times {
    color: #fff;
    background-color: #0d2134;
    border-color: orange;
}

.fa-laptop-code {
    font-size: 50px;
    color: orange;
}

.review-form-body  {
    margin-bottom: 60px;
}

.personal-trainers .pt-container .rounded-image {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    margin-top: 10px;
}

.personal-trainers {
    margin-bottom: 100px;
}

/* Return from shopping bag to url page */
.btn-black {
    background: black;
    color: white;
}

/* CI code from boutique ado  */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* Flash message section */
/* --CI code from boutique ado -- bootstrap toasts --*/
.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ 
    -- CI code from boutique ado-- */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap 
    -- CI code from boutique ado-- */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* To remove the underline link on the paragraphs */
.my-account-icon {
    text-decoration: none;
}

.social a {
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.btn-close {
    color: orange;
}

/*-- Allauth form formatting --*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

#payment-form .form-control {
    margin-bottom: 10px;
}

#profile-update-form .form-control  {
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 991px) {
    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .text-orange {
        font-size: 1rem;
    }

    tr, th {
        font-size: .75rem;
    }

    td, p {
        font-size: 0.75rem;
    }

    .card-body {
        margin-top: 2rem !important;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* Media Queries */
@media (max-width: 412px) {
    /* push body down to the bottom of main page header */
    .mobile-small-screen {
        font-size: 12px;
    }

    .social a {
        font-size: 20px;
    }

    .full-screen {
        height: 250vh;
    }
}

@media (max-width: 356px) {
    .navbar-toggler {
        padding: .4rem .4rem;
        font-size: 0.75rem;
    }
}

