html {
    height: 100%;
}

/*body {
    background: url('/media/home-gym-photo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh-164px);
}*/

#main-nav {
    z-index: 9;
}


.shadow-box {
    background-color: black !important;
    opacity: 50%;
    height: 60%;
}

.text-color {
    color: white
}

/* CI code from boutique ado */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Return from shopping bag to url page */
.btn-black {
    background: black;
    color: white;
}

/* CI code from boutique ado  */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --CI code from boutique ado -- bootstrap toasts --*/

.message-container {
    position: fixed;
    top: 164px;
    right: 15px;
    z-index: 1000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Media */

@media (min-width: 992px) {
    /* push body down to the bottom of main page header */
    .header-container {
        padding-top: 164px;
    }
}

