<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item">
      <a class="nav-link text-color" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-color" href="{% url 'clubs' %}">Club</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-color" href="#" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Product & Services
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item"
            href="{% url 'products' %}?category=supplements,training_equipment,shakers_bottles,personal_training,massage,nutrition">All
            Products</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=supplements">Supplements</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=training_equipment">Training Equipment</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=shakers_bottles">Shakers & Bottles</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=personal_training">Personal Training</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=massage">Massage</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=nutrition">Nutrition</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link text-color" href="{% url 'contact' %}">Contact Us</a>
    </li>
  </ul>
</div>