<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Club</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product & Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'products' %}?category=Supplements,Training_Equipment,Shakers_Bottles,Personal Training">All Products</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=Supplements">Supplements</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=Training_Equipment">Training Equipment</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=Shakers_Bottles">Shakers & Bottles</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category=Personal Training">Personal Training</a></li>
            </ul>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
    </ul>
</div>