{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- service col -->
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 class="text-white">{{ club.club }}</h2>
                    <hr class="text-white">
                </div>
            </div>
            <div class="row">
                <div class="service-container col-12 offset-4">
                    <div class="row mt-1 mb-2"></div>


                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                <div class="card h-100 border-1">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ club.town_or_city }}</p>
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0">
                                        <div class="row">
                                            <div class="col">
                                                <p>{{ club.street_address }}</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col">
                                                <p>{{ club.phone_number }}</p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}