{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="mt-1 base-color container-fluid">
    <div class="row">
        <div class="col-12 text-center pt-3">
            <h2 class="text-white">Contact Us</h2>
            <hr class="text-white">
            <p class="text-white">Want to get in touch? Fill out the form below to send me a message and I will get
                back to you as soon as
                possible!
            </p>
        </div>
    </div>
</section>
<section class="base-color container-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="row contact_us">
                <div class="col-12 my-3">
                    {% if message_name %}
                    <h4 class="text-white">Thanks {{ name }}!</h4>
                    <p><strong>We received your message and aim to respond within the next 1-2 working days</strong></p>
                    <p>Kind regards MPT Recipe Team</p>
                    {% else %}
                    <!-- Form -->
                    <form method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <!-- Name -->
                        <div class="my-4">
                            <label class="text-white">Please enter your name.</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name"
                                aria-label="name" required>
                        </div>
                        <div class="my-4">
                            <label class="text-white">Subject</label>
                            <input type="text" class="form-control" placeholder="Subject" name="subject" id="subject"
                                aria-label="subject" required>
                        </div>
                        <!-- Email -->
                        <div class="my-4">
                            <label class="text-white">Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" name="email"
                                aria-label="email" id="email" required>
                        </div>
                        <!-- Message -->
                        <div class="my-4">
                            <label class="text-white">Message</label>
                            <textarea rows="10" class="form-control" placeholder="Message" name="message"
                                aria-label="message" id="message" required></textarea>
                        </div>
                        <br>
                        <!-- Submit Button -->
                        <div class="text-center mb-3 d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn text-white btn-outline-secondary btn-dark btn-lg"
                                id="sendMessageButton">Send</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <div>
                    <div class="social my-2 text-center">
                        <span>
                          <a href="http://www.facebook.com" target="_blank" rel="noopener">
                            <i class="fab fa-facebook text-color"></i>
                          </a>
                          <a href="https://www.instagram.com" target="_blank" rel="noopener">
                            <i class="fab fa-instagram text-color"></i>
                          </a>
                          <a href="http://www.twitter.com" target="_blank" rel="noopener">
                            <i class="fab fa-twitter text-color"></i>
                          </a>
                          <a href="http://www.youtube.com" target="_blank" rel="noopener">
                            <i class="fab fa-youtube text-color"></i>
                          </a>
                        </span>
                      </div>
                      <div class="copy-right my-2 text-center">
                        <p class="text-white">Copyright © MPT Gym 2021</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}